<!DOCTYPE HTML>
<!--
	Transitive by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>{{ titulo }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
		{{> header }}	

		<!-- Nav -->
		{{> navbar }}

		<!-- Banner -->
		<!--
			To use a video as your background, set data-video to the name of your video without
			its extension (eg. images/banner). Your video must be available in both .mp4 and .webm
			formats to work correctly.
		-->
			<section id="banner" data-video="images/banner">
				<div class="inner">
					<h1>Taller mecánico</h1>
					<p>Nos especializamos en el mantenimiento preventivo de su vehículo<br />
					
				</div>
			</section>

		<!-- One -->
			<section id="one" class="wrapper style2">
				<div class="inner">
					<div>
						<div class="box">
							<div class="image fit">
								<img src="images/pic01.jpg" alt="" />
							</div>
							<div class="content">
								<header class="align-center">
									<h2>Quiénes somos</h2>
									<p>Estamos ubicados en Cartago</p>
								</header>
								<hr />
								<p>Contamos con amplia experiencia en el mercado</p>
								<p>Realice su cita sin ningún compromiso para revisar su vehículo</p>
							</div>
						</div>
					</div>
				</div>
			</section>

		<!-- Three -->
			<section id="three" class="wrapper style2">
				<div class="inner">
					<div class="grid-style">

						<div>
							<div class="box">
								<div class="image fit">
									<img src="images/pic02.jpg" alt="" />
								</div>
								<div class="content">
									<header class="align-center">
										<h2>Cambio de aceite</h2>
										<p> Para todo tipo de motor</p>
									</header>
									<hr />
									<p>Contamos con los mejores aceites para su vehículo</p>
								</div>
							</div>
						</div>

						<div>
							<div class="box">
								<div class="image fit">
									<img src="images/pic03.jpg" alt="" />
								</div>
								<div class="content">
									<header class="align-center">
										<h2>Mecánica general</h2>
										<p>Para el mantenimiento de su vehículo</p>
									</header>
									<hr />
									<p>Reparamos dirección, cambio de faja de distribución, etc</p>
								</div>
							</div>
						</div>

					</div>
				</div>
			</section>

		<!-- Four -->
			<section id="four" class="wrapper style3">
				<div class="inner">

					<header class="align-center">
						<h2>Somos su mejor opción</h2>
						<p>Deje su vehículos en manos de expertos</p>
					</header>

				</div>
			</section>

		<!-- Footer -->
			{{> footer }}

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
	</body>
</html>